*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
font-size: 62.5%;
}

body {
height: 100%;
line-height: 1.5;
font-size: 2rem;
background: url('images/giuseppe-argenziano-6rnN-G_N5Ok-unsplash.jpg');
background-size: cover;
background-attachment: fixed;
font-family: Avenir;
}



input,
button,
textarea,
select {
font: inherit;
color: inherit; 
font: inherit; 
letter-spacing: inherit;
}

h1{
	font-family: 'Dancing Script', cursive;
	font-size: 8rem;
	text-align: center;
	font-style:italic;
	letter-spacing: 1rem;
	padding-top: 4rem;
	color: #CB434C;
	margin-top: 7rem;
	text-shadow:
	-1px -1px 1rem #000,  
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

nav {
	margin: 5rem auto;
	width: 60%;
	display: flex;
	justify-content:space-evenly;
	align-items: center;
}

nav button {
	font-size: 3rem;
	padding: 0rem 2rem;
	margin: 0 1rem;
	background-color: #000000ab;
	line-height: 1.1;
	color: #cc9543;
	border: 0.2rem solid #cc9543;
	outline: none;
	border-radius: 0.5rem;
	transition: transform 0.3s ease-out;
}

nav button:hover {
	transform: translateY(-0.5rem);
}

nav button:focus {
	background-color: #fad7a4;
}

.home {
	color: #e1c79a;
	font-family: 'Dancing Script', cursive;
	border-radius: 0.5rem;
	border: 0.3rem solid #cc9543;
	border-left: none;
	border-right: none;
	padding: 2rem;
	font-size: 2.5rem;
	max-width: 80%;
	text-align: left;
	margin: 8rem auto;
	backdrop-filter: blur(1rem) opacity(0.5);
	-webkit-backdrop-filter: blur(1rem);
	transition: backdrop-filter 0.7s ease-out;
}

.home:hover {
	backdrop-filter:blur(1rem) opacity(5);
	-webkit-backdrop-filter:blur(1rem) opacity(5);
}

.home span {
	color: #cc9543
}

.home p:last-child span:last-child {
	color: #CB434C;
	font-weight: bold;
}

#old-woman-chef {
	border-radius: 50%;
	border-left: 0.3rem solid #cc9543;
	border-top: 0.3rem solid #cc9543;
	height: 15rem;
	width: 15rem;
	object-fit: none;
	object-position: 40% 40%;
	margin: auto;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.signature {
	position: absolute;
	padding: 1rem;
	font-size: 1.5rem;
	white-space: pre;
	opacity: 0.8;
	color: #CB434C;
	text-align: center;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

@media (max-width: 550px) {
	html {
		font-size: 50%;
	}
}