*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	/* to place my signature absolutely bottom */
	position: relative;
	/* to place my signature absolutely bottom */
	min-height: 100%;
	font-size: 62.5%;
	/* avoid page resizing when vertical scrollbar kicks in */
	overflow-y: scroll; 
}

body {
	height: 100%;
	line-height: 1.5;
	font-size: 2rem;
	background: url('../images/giuseppe-argenziano-6rnN-G_N5Ok-unsplash.jpg');
	/* background-size: cover; it bugs on iOS, hence removed */
	background-attachment: fixed;
	font-family: Avenir;
}

input,
button,
textarea,
select {
	font: inherit;
	color: inherit;
	letter-spacing: inherit;
	cursor: pointer;
}
