@use 'sass:color';
@use 'variables';
@use 'reset';
@use 'skeleton';
@use 'home';
@use 'menu';
@use 'contact';

.signature {
	position: absolute;
	display: inline-block;
	padding: 1rem;
	font-size: 1.5rem;
	white-space: pre;
	color: variables.$accent-color;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-shadow: 0 0 1rem color.scale(variables.$accent-color, $lightness: -80%);
}

.activeButton {
	border-color: variables.$accent-color;
	background-color: variables.$accent-color;
	color: black;
}

.fade {
	opacity: 0;
}

@media (max-width: 600px) {
	html {
		font-size: 45%;
	}

	.contact iframe {
		width: 100%;
	}
}
